<nav class="navbar fixed-bottom navbar-dark py-0">
  <div class="container-fluid mx-auto p-0">
    <div class="navbar-nav mx-auto">
      <a class="navbar-brand" href="/">
        <img src="./images/logo.png" height="24">Rambagiza &copy; {{dateFormat (now) format="YYYY"}}
      </a>
    </div>
  </div>
</nav>