<div class="row">
  <div class="col-sm-4 offset-sm-4 p-4 my-4 shad">
    <h4>You have a new Smile from</h4>
    <div class="card">
      <img src="{{smile.sender.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="/sendSmile/{{smile.sender._id}}" class="btn btn-primary">Smile back</a>
      </div>
    </div>
  </div>
</div>