<div class="col-sm-8 offset-sm-2">
  <div class="row">
    <div class="col-sm-6 my-4 text-center">
      <div class="card-body bg-trans p-4 shad my-4">
        <h3 class="text-success">Ishyura amadolari 10$</h3>
        <p class="text-dark">Ugure ubutumwa 200!</p>
        <form action="/charge10dollars" method="post">
          <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{StripePublishableKey}}"
            data-amount="1000"
            data-name="Rambagiza"
            data-description="Kugura ubutumwa 200"
            data-image="./images/logo.jpg"
            data-locale="auto">
          </script>
        </form>
      </div>
    </div>

    <div class="col-sm-6 my-4 text-center"> 
      <div class="card-body bg-trans p-4 shad my-4">
        <h3 class="text-success">Ishyura amadolari 20$</h3>
        <p class="text-dark">Ugure ubutumwa 500!</p>
        <form action="/charge20dollars" method="post">
          <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{StripePublishableKey}}"
            data-amount="2000"
            data-name="Rambagiza"
            data-description="Kugura ubutumwa 500"
            data-image="./images/logo.jpg"
            data-locale="auto">
          </script>
        </form>      
      </div>
    </div>

    <div class="col-sm-6 my-4 text-center"> 
      <div class="card-body bg-trans p-4 shad my-4">
        <h3 class="text-success">Ishyura amadolari 30$</h3>
        <p class="text-dark">Ugure ubutumwa 1000!</p>
        <form action="/charge30dollars" method="post">
          <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{StripePublishableKey}}"
            data-amount="3000"
            data-name="Rambagiza"
            data-description="Kugura ubutumwa 1000"
            data-image="./images/logo.jpg"
            data-locale="auto">
          </script>
        </form>      
      </div>
    </div>

    <div class="col-sm-6 my-4 text-center"> 
      <div class="card-body bg-trans p-4 shad my-4">
        <h3 class="text-success">Ishyura amadolari 40$</h3>
        <p class="text-dark">Ugure ubutumwa 2000!</p>
        <form action="/charge40dollars" method="post">
          <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{StripePublishableKey}}"
            data-amount="4000"
            data-name="Rambagiza"
            data-description="Kugura ubutumwa 2000"
            data-image="./images/logo.jpg"
            data-locale="auto">
          </script>
        </form>      
      </div>
    </div>
  </div>
</div>