<div class="row">
  <div class="col-sm-4 offset-sm-4 my-4 shad p-4 bg-trans">
    <h2 class="text-success">Ubwishyu bwakiriwe</h2>
    <p class="text-dark">Mwakoze kugura ubutumwa!</p>
    <a href="/chats" class="btn btn-success">Ganira n'abawe</a>
  </div>
</div>