<div class="row">
  <div class="col-sm-4 offset-sm-4 bg-dark-trans my-4 p-3 shad">
    <h3 class="text-danger">
      Uwasabye ubucuti ntashoboye kuboneka!
    </h3>
    <a href="/singles" class="btn btn-danger">Subirayo</a>
  </div>
</div>