<div class="row">
  <div class="col-sm-4 offset-sm-4 my-4 bg-dark-trans shad p-3">
    <h3 class="text-warning">
      Wasabye kuba incuti na
    </h3>
    <div class="card">
      <img src="{{newFriend.image}}" class="card-img-top img-fluid">
      <div class="card-body">
        <h5 class="card-title text-dark">{{newFriend.fullname}}</h5>
        
        <a href="/singles" class="btn btn-primary">Subira inyuma</a>
      </div>
    </div>

  </div>
</div>