<div class="row">
  <div class="col-sm-4 offset-sm-4 bg-dark-trans my-4 p-3 shad">
    <h3 class="text-success">
      Wemeje kuba inshuti na!
    </h3>
    <div class="card">
      <img src="{{friend.image}}" class="card-img-top img-fluid">
      <div class="card-body">
        <h5 class="card-title text-dark">{{friend.fullname}}</h5>
        
        <a href="/userProfile/{{friend._id}}" class="btn btn-primary">Reba Imyirondoro</a>
      </div>
    </div>
  </div>
</div>