<div class="row">
  <div class="col-sm-8 offset-sm-2 my-4 p-3 bg-dark-trans shad">
    <h1 class="py-4"><i class="bi bi-card-image"></i> Abo turi Bo</h1>
    <p class="fs-4 py-4 about">
      RAMBAGIZA.COM ni urubuga rwubakiwe guhuza Abanyarwanda n'Abarundi aho baba baherereye hose ku isi, kandi abo bikundiye umushyikirano bagiriye ku rubuga ukabaronkera kubonana imbonankubone! RAMBAGIZA.COM igamije na none gukomeza no guteza imbere ubucuti, bumwe bubyara urukundo. <br>Urukundo ni Rwogere!
    </p>
    <p class="fs-4 py-4 about">
      Mu buzima bw'abantu nta kintu cyaruta urukundo! Nyamara hari benshi batagira amahirwe yo kubona ababakunda uko babyifuza! RAMBAGIZA.COM yazanywe no kogeza URUKUNDO MU BANTU! Kuri uru rubuga abantu bataziranye barahura, bakamenyana, bakaba inshuti, nuko uko barushaho gushyikirana bikabaremamo urukundo. <br>Urukundo nirwogere!
    </p>
  </div>
</div>
