<div class="row">
  <div class="col-sm-4 offset-sm-4 my-4">
    <div class="card shad">
      <div class="card-body">
        <h2>Urubuga rwawe rwavanyweho burundu!</h2>
        <p>Ongera wibaruze, kanda hepfo</p>
        <a href="/" class="card-link">Rema urubuga rushya</a>
      </div>
    </div>
  </div>
</div>