<div class="row">
  <div class="col-sm-4 offset-sm-4 my-4">
    <div class="card shad">
      <div class="card-body">
        <h2>Account has been permanentely deleted!</h2>
        <p>To create a new account again, click the link below</p>
        <a href="/" class="card-link">Create New Account</a>
      </div>
    </div>
  </div>
</div>