<div class="row">
  <div class="col-sm-4 offset-sm-4 my-4">
    <div class="card shad">
      <div class="card-body">
        <h2>Do you want to delete your account?</h2>
        <a href="/deleteAccount" class="btn btn-danger">Yes</a>
        <a href="/profile" class="btn btn-success">No</a>
      </div>
    </div>
  </div>
</div>