<div class="row">
  <div class="col-sm-4 offset-sm-4 my-4">
    <div class="card shad">
      <div class="card-body">
        <h2>Urabizi neza ko ugihe guhanagura burundu urubuga rwawe?</h2>
        <a href="/deleteAccount" class="btn btn-danger">Yego</a>
        <a href="/profile" class="btn btn-success">Oya</a>
      </div>
    </div>
  </div>
</div>