<div class="row">
  <div class="col-sm-6 offset-sm-3 my-4">
    <h3>
      <img src="{{chat.sender.image}}" class="chatroom-users rounded-circle img-thumbnail ">
      <img src="{{chat.receiver.image}}" class="chatroom-users rounded-circle img-thumbnail ">
    </h3>
    <div class="d-flex">
      <div class="flex-shrink-0">
        <img src="..." alt="...">
      </div>
      <div class="flex-grow-1 ms-3">
        This is some content from a media component. You can replace this with any content and adjust it as needed.
      </div>
    </div>
  </div>
</div>  