
<div class="row">
  <div class="col-md-4 offset-md-4 my-4 shad">
    <h3 class="my-3"><i class="bi bi-card-heading"></i> Contact us</h3>
    <form action="/contactUs" method="POST">
      <div class="mb-3">
        <label for="fullName" class="form-label"><i class="bi bi-person-badge"></i> Full Name</label>
        <input type="text" name="fullName" class="form-control" id="fullName"
        placeholder="Enter full name">
      </div>
      
      <div class="mb-3">
        <label for="email" class="form-label"><i class="bi bi-envelope"></i> Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Type your email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>

      <div class="mb-3">
        <label for="message" class="form-label"><i class="bi bi-chat-text"></i> Message</label>
        <textarea type="text" id="message" name="message" id="message" rows="2" class="form-control md-textarea" placeholder="Type your message"></textarea>
      </div>
      
      <button type="submit" class="btn btn-primary my-3"><i class="bi bi-forward"></i> Submit</button>
    </form>

  </div>
</div>