<h1 class="m-5"><i class="bi bi-house-door"></i> Welcome to Rambagiza, the best Dating Website for you!</h1>
{{#if user}}
<p>Hello {{user.firstname}}, you are logged in...</p>
{{else}}
<a href="/auth/facebook/" class="btn btn-primary btn-lg">Login with Facebook</a>
{{/if}}