<h1><i class="bi bi-house-door"></i> Rambagiza tubahaye ikaze!</h1>
<div class="row">
  <div class="col-sm-4 offset-sm-4 my-4 p-4 bg-dark-trans shad">
    {{#if user}}
    <p>Karibu {{user.firstname}}, ubu winjiye ku rubuga...</p>
    {{else}}
    <p class="text-center">
      <a href="/auth/facebook" class="btn btn-primary btn-lg btn-facebook"><i class="bi bi-facebook"></i> Injira na Facebook</a>
    </p>

    <p class="text-center">
      <a href="/auth/google" class="btn btn-danger btn-lg btn-google"><i class="bi bi-google"></i> Injira na Google</a>
    </p>
    {{/if}}
    <p class="text-center">cyangwa</p>
    <form action="/login" method="post">
      
      {{#each success}}
      <p class="text-success">
        {{text}}
      </p>
      {{/each}}

      {{#each errors}}
      <p class="text-danger">
        {{text}}
      </p>
      {{/each}}

      <div class="form-group">
        <label for="email"><i class="bi bi-envelope"></i> Email</label>
        <input type="email" name="email" id="email" class="form-control">
      </div>

      <div class="form-group">
        <label for="password"><i class="bi bi-key"></i> Ijambo ry'ibanga</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary my-3"><i class="bi bi-box-arrow-in-right"></i> Injira</button>
    </form>
    <a href="/retrievePwd" class="my-3 card-link"><i class="bi bi-key-fill"></i> Waba waribagiwe ijambo ry'ibanga?</a>
    <br>
    <a href="/newAccount" class="my-3"><i class="bi bi-person-plus"></i> Nibwo bwa mbere?</a>
  </div>
</div>