
<div class="row">

  <div class="col-sm-4">
    <div class="card my-4 shad">
      <a href="/uploadImage">
        <img src="{{user.image}}" class="card-img-top" alt="{{user.fullname}}">
      </a>
      <div class="card-body">   
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <table class="my-4">
      <tbody>
        <tr>
          <th class="mr-3"><i class="bi bi-person-badge"></i> Full name</th>
          <td><h5 class="card-title">{{user.fullname}}</h5></td>
        </tr>
        <tr>
          <th class="mr-3"><i class="bi bi-envelope"></i> Email</th>
          <td><p class="card-text">{{user.email}}</p></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="offset-sm-2">
  </div>

</div>