<div class="row">
  <div class="col-sm-4 offset-4 bg-dark-trans shad my-4 p-3">
    <h3 class="text-danger">Amagambo y'ibanga ntahura!</h3>
    <a href="/retrievePwd">Ongera ugerageze.</a>
  </div>
</div>