<div class="row">
  <div class="col-sm-4 offset-sm-4 bg-dark-trans chad my-4 p-3">
    <form action="/retreivePwd" method="post">
      <div class="form-group my-3">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control">
      </div>

      <div class="form-group my-3">
        <label for="password">Ijambo ry'ibanga rishya</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>

      <div class="form-group my-3">
        <label for="password2">Subiramo ijambo ry'ibanga</label>
        <input type="password" name="password2" id="password2" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary my-3">Vugurura</button>
    </form>
  </div>
</div>