<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-4 my-4 card-body shad">
    {{#each singles}}
    <img src="{{image}}" alt="{{fullname}}" class="img-thumbnail">
    {{else}}
    <p>No user found!</p>
    {{/each}}
  </div>
  <div class="col-sm"></div>
</div>