body {
  background-image: url("../images/pexels-krishna-studio-5876920.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

.shad {
  border: none;
  border-radius: 0em;
  box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
  -moz-box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
  -webkit-box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
  -o-box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
}

th,
td {
  padding: .5em 0;
}

.bi-pencil-square,
.clipper {
  cursor: pointer;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

#profile-info i {
  margin-right: 0.2em;
}

#profileEditor .row {
  padding: .5em 0;
}

#profileEditor label {
  font-weight: 600;
}

.img-thumbnail {
  object-fit: cover;
  overflow: hidden;
  width: 6em;
  height: 6em;
}

nav .img-thumbnail {
  object-fit: cover;
  overflow: hidden;
  width: 3em;
  height: 3em;
  border: 0px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .img-thumbnail {
    width: 3em;
    height: 3em;
  }
}

.chatroom-users {
  object-fit: cover;
  overflow: hidden;
  width: 4em;
  height: 4em;
}

#messages {
  height: 13em;
  overflow-y: scroll;
}

.dialog {
  border-radius: 1em;
}

.sender {
  background-color: lightgreen;
}

.receiver {
  margin-right: 1em;
  background-color: chartreuse;
}

.card {
  border: solid 1;
  border-color: rgb(230, 233, 233);
  border-radius: 0;
  padding: 0.125em;
}

.card-img-top {
  border-radius: 0%;
}

#profile .card-img-top,
#singles .card-img-top {
  border-radius: 0;
  object-fit: cover;
  overflow: hidden;
  height: 12em;
}

.smile,
.letter,
.friend {
  font-size: 2em;
}

.bg-trans {
  background-color: rgba(255, 255, 255, 0.7);
}

.bg-dark-trans {
  background-color: rgba(0, 0, 0, 0.5);
}

.post-icons {
  margin-right: 0.5em;
}

.btn-facebook {
  background: #4aa1f3;
  border-radius: 0;
  color: #fff;
  width: auto;
}

.btn-facebook:link,
.btn-facebook:visited {
  background: #4aa1f3;
  color: #fff;
  text-decoration: none;
}

.btn-facebook:active,
.btn-facebook:hover {
  background: #4aa1f3;
  color: #fff;
}


/* Google Button*/

.btn-google {
  background: #e44b34;
  border-radius: 0;
  color: #fff;
  width: auto;
}

.btn-google:link,
.btn-google:visited,
.btn-google:active,
.btn-google:hover {
  background: #e44b34;
  color: #fff;
  text-decoration: none;
}

.about {
  text-align: justify;
  text-justify: inter-word;
}