h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.shad {
  border: none;
  border-radius: 0em;
  box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
  -moz-box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
  -webkit-box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
  -o-box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
}

th,
td {
  padding: .5em 0;
}

.bi-pencil-square {
  cursor: pointer;
}

#profile-info a {
  text-decoration: none;
}

#profile-info i {
  margin-right: 1em;
}

#profileEditor .row {
  padding: .5em 0;
}

#profileEditor label {
  font-weight: 600;
}

.img-thumbnail {
  object-fit: cover;
  overflow: hidden;
  width: 6em;
  height: 6em;
  border-radius: 50%;
}