h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.shad {
  border: none;
  border-radius: 0em;
  box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
  -moz-box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
  -webkit-box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
  -o-box-shadow: 0 0 1em rgba(180, 180, 180, 0.6);
}

th,
td {
  padding: .5em 0;
}

.bi-pencil-square {
  cursor: pointer;
}

a {
  text-decoration: none;
}

#profile-info i {
  margin-right: 0.2em;
}

#profileEditor .row {
  padding: .5em 0;
}

#profileEditor label {
  font-weight: 600;
}

.img-thumbnail {
  object-fit: cover;
  overflow: hidden;
  width: 6em;
  height: 6em;
}

.chatroom-users {
  object-fit: cover;
  overflow: hidden;
  width: 4em;
  height: 4em;
}

#messages {
  height: 13em;
  overflow-y: scroll;
}

.dialog {
  border-radius: 1em;
}

.sender {
  background-color: lightgreen;
}

.receiver {
  background-color: chartreuse;
}

.card {
  border: solid 1;
  border-color: darkslategrey;
  border-radius: 0;
  padding: 0.125em;
}

#profile .card-img-top,
#singles .card-img-top {
  border-radius: 0;
  object-fit: cover;
  overflow: hidden;
  height: 12em;
}

.smile {
  font-size: 2em;
}